#!/bin/bash -l
#
#MSUB -l nodes=1:ppn=1
#MSUB -N MM-1

module purge
module load gcc/4.7.2
module load openmpi/1.6.3

cd $SLURM_SUBMIT_DIR

./charmrun -np ${SLURM_NTASKS} matmul -N 8192 -b 256 \
  --type full \
  --verify --iterations 10
./charmrun -np ${SLURM_NTASKS} matmul -N 8192 -b 256 \
  --type decay --decay 10 \
  --tolerance 1e-8 \
  --verify --iterations 10
./charmrun -np ${SLURM_NTASKS} matmul -N 8192 -b 256 \
  --type diagonal \
  --verify --iterations 10
