<p>
<table>
  <tr>
    <th>Branch</th>
    <th>Build Status</th>
  </tr>
  <tr>
    <th>master</th>
    <td>
      <a href="https://travis-ci.org/FreeON/spammpack">
        <img src="https://travis-ci.org/FreeON/spammpack.svg?branch=master"
        alt="master build status" />
    </td>
  </tr>
  <tr>
    <th>v1.0</th>
    <td>
      <a href="https://travis-ci.org/FreeON/spammpack">
        <img src="https://travis-ci.org/FreeON/spammpack.svg?branch=v1.0"
        alt="master build status" />
    </td>
  </tr>
</table>
</p>
